.form-item:not(:last-child) {
  margin-bottom: 10px;
}

.form-text {
  display: block;
  margin-bottom: 4px;

  @include text(null, 12px, 1.16, 0.01em, var(--text-color));
}

.input-wrap {
  position: relative;
}

.form-input {
  padding-left: 42px;

  &:focus {
    border: 1px solid var(--active-link-color);
  }
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translatey(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-input:focus + & {
    fill: var(--active-link-color);
  }
}

.comment {
  margin-bottom: 20px;
}

.form-comment {
  padding: 12px 16px;
  resize: none;
  height: 120px;

  &:focus {
    border: 1px solid var(--active-link-color);
  }

  &::placeholder {
    @include text(null, 12px, 1.16, 0.01em, rgba(117, 117, 117, 0.5));
  }
}

.agreement {
  padding-left: 5px;
  color: var(--active-link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    color: var(--hero-btn-activ-background-color);
    outline-color: var(--active-link-color);
  }
}

.checkbox-text {
  @extend %aligner;
  @include text(null, null, 1.71, null, var(--text-color));

  cursor: pointer;

  span {
    @extend %aligner;

    margin-right: 7px;

    width: 16px;
    height: 15px;

    border: 2px solid var(--main-color);
    border-radius: 3px;

    fill: transparent;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .checkbox-input:checked + & {
      background-color: var(--active-btn-background-color);
      border-color: transparent;

      fill: var(--active-btn-color);
    }

    .checkbox-input:focus + & {
      border-color: var(--active-btn-background-color);
    }
  }
}

.form-btn {
  margin-top: 30px;
  min-width: 200px;
  outline: transparent;
}
