.checkbox__agreement {
  padding-left: 5px;
  color: var(--active-link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    color: var(--hero-btn-activ-background-color);
    outline-color: var(--active-link-color);
  }
}

.checkbox__text {
  @extend %aligner;
  @include text(null, null, 1.71, null, var(--text-color));

  cursor: pointer;

  span {
    @extend %aligner;

    margin-right: 7px;

    width: 16px;
    height: 15px;

    border: 2px solid var(--main-color);
    border-radius: 3px;

    fill: transparent;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .checkbox__input:checked + & {
      background-color: var(--active-btn-background-color);
      border-color: transparent;

      fill: var(--active-btn-color);
    }

    .checkbox__input:focus + & {
      border-color: var(--active-btn-background-color);
    }
  }
}