h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.btn {
  display: block;
  font-family: inherit;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    color: active-btn-color;
    background-color: $accent-color;
  }
}

.section {
  padding: 94px 0;

  &__title {
    margin-bottom: 50px;

    text-align: center;

    font-size: 36px;
    line-height: 1.16;
  }
}
