:root {
  --main-color: #212121;
  --main-background-color: #ffffff;
  --text-color: #757575;
  --hero-color: #ffffff;
  --hero-btn-activ-background-color: #188ce8;
  --active-link-color: #2196f3;
  --active-btn-color: #ffffff;
  --active-btn-background-color: #2196f3;
  --logo-color: #2196f3;
  --studio-header-color: #000000;
  --studio-footer-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-font: 'Raleway', sans-serif;
  --hero-footer-background-color: #2f303a;
  --border-color: #ececec;
  --team-background-color: #f5f4fa;
  --clients-background-color: #f5f5f5;
  --active-icon-background-color: #d9d9d9;
  --gap: 30px;
  --icon-fill: #afb1b8;
  --footer-icon-fill: #ffffff;
}