.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--active-link-color);
}
.btn {
  display: block;
  font-family: inherit;
  cursor: pointer;
}
.btn:hover,
.btn:focus,
.btn:active {

  color: var(--active-btn-color);
  background-color: var(--active-btn-background-color);
}
.section-title {
  margin-bottom: 50px;

  text-align: center;

  font-size: 36px;
  line-height: 1.16;
}
.section {
  padding: 94px 0;
}
.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
